@import '../../theme.scss';

.page {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: $bg-mid;

    .header-btn {
        border-top: none;
        border-bottom: none;
        width: $space6;

        &.left {
            border-left: none;
        }

        &.right {
            border-right: none;
        }
    }

    .header-gid {
        width: $space6;
    }
}
