@import '../../theme.scss';

.menu {
    .tray {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .tray-btn {
            font-size: $font-size6;
            width: $space7;
            height: $space6;
            margin: $space5 0;
        }
    }
}
