@import '../../theme.scss';

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .cell-container {
            position: relative;
            margin: 0 10px;
            height: 42px;
            width: 28px;

            .cell-bg {
                position: absolute;
                top: 0;
                left: 0;

                &.selectable {
                    cursor: pointer;
                }

                &.selected {
                    fill: $tertiary-mid;
                    stroke: $tertiary-dark;
                    cursor: pointer;
                }

                &.visitable {
                    fill: $bg-mid;
                    stroke: $bg-dark;
                    cursor: pointer;
                }
            }
        }
    }
}
