@import '../../theme.scss';

.board {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .cell-container {
            height: fit-content;
            margin: -6px -4px;

            .cell-bg {

                &.selectable {
                    cursor: pointer;
                    z-index: 1;
                }

                &.selected {
                    fill: $tertiary-mid;
                    stroke: $tertiary-dark;
                    cursor: pointer;
                }

                &.visitable {
                    fill: $bg-light;
                    stroke: $bg-mid;
                    cursor: pointer;

                    &:hover {
                        fill: $bg-mid;
                        stroke: $bg-dark;
                    }
                }

                &.player {
                    z-index: 2;
                }

                &.out-of-play {
                    fill: white;
                    stroke: $bg-mid;
                }
            }
        }
    }
}
