$bg-light: #3d3d3d;
$bg-mid: #292929;
$bg-dark: #1d1d1d;

$primary-light: #598cd8;
$primary-mid: #1767c5;
$primary-dark: #0f3ba3;

$secondary-light: #957cd6;
$secondary-mid: #6349c0;
$secondary-dark: #4e1da1;

$tertiary-light: #d97e86;
$tertiary-mid: #c93c44;
$tertiary-dark: #ac1927;

$space1: 4px;
$space2: 8px;
$space3: 16px;
$space4: 32px;
$space4-5: 48px;
$space5: 64px;
$space5-6: 84px;
$space6: 128px;
$space7: 256px;
$space8: 512px;

$font-light: #AAA;
$font-mid: #777;
$font-dark: #555;

$font-size1: 12px;
$font-size2: 14px;
$font-size3: 16px;
$font-size4: 18px;
$font-size5: 20px;
$font-size6: 24px;

$bold: 600;

body {
    margin: 0;
    background: $bg-mid;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size3;
    color: $font-mid;
}
