
$text-light: #AAA;
$text-mid: #333;
$text-dark: #111;

$bg-light: #FFF;
$bg-mid: #EEE;
$bg-dark: #CCC;

$primary-light: #FFF099;
$primary-mid: #FFE656;
$primary-dark: #E6C300;

$secondary-light: #FFB3F1;
$secondary-mid: #FF56E0;
$secondary-dark: #E600BB;

$tertiary-light: #C1B3FF;
$tertiary-mid: #7556FF;
$tertiary-dark: #441AFF;
