@import '../../theme.scss';

.game {
    .game-header {
        .header-btn {
            color: $tertiary-mid;
        }
    }

    .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .gutter {
            width: $space8-9;
            padding: $space4;
            display: flex;
            align-items: start;
        }

        .board-gutter {
            align-items: center;
            flex-direction: column;

            .winner-text {
                align-self: center;
                padding: $space4;
                font-size: $font-size8;
            }
        }
    }
}
