@import '../../theme.scss';

.menu {
    .tray {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-btn {
        color: $tertiary-mid;
    }
}
