@import '../../theme.scss';

.hex-small {
    stroke-width: 4px;
    height: 50px;
    width: auto;
}

.hex-large {
    stroke-width: 4px;
    height: 100px;
    width: auto;
}

.primary {
    fill: $primary-mid;
    stroke: $primary-dark;
}

.secondary {
    fill: $secondary-mid;
    stroke: $secondary-dark;
}

.tertiary {
    fill: $tertiary-mid;
    stroke: $tertiary-dark;
}

.light {
    fill: $bg-lightest;
    stroke: $bg-light;
}

.dark {
    fill: $bg-mid;
    stroke: $bg-dark;
}
